@charset "utf-8";
/* CSS Document */





html, body {
	
	scroll-behavior: smooth;
	height:100%;
	width: 100%;
	overflow: auto;

}


.navbar{
	
	padding: 1% 0;
	font-size: 1.3em;
	
	
}

.navbar-default .navbar-nav li a {
	color: #1F1F1F;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active{
	;
}

#home {
	
	background: url("../footage/landing.jpg")no-repeat center center fixed;
	
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size:cover;
}

.landing-text{
	display: table-cell;
	text-align:center;
	vertical-align: middle;
}

.landing-text h1 {
font-size: 450%;
	font-weight: 680;
	color: #ffffff
	
}

.padding {
	
	margin-top: 15%;
	margin-bottom: 15%;
	padding: 80px 0;
}

.padding img{
	width: 100%;
}

#fixed {
	background: url("../footage/fixed2.jpg") no-repeat center center fixed;
	
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size:cover;
}






 /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 051 css*/
        .jssorb051 .i {position:absolute;cursor:pointer;}
        .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
        .jssorb051 .i:hover .b {fill-opacity:.7;}
        .jssorb051 .iav .b {fill-opacity: 1;}
        .jssorb051 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}




footer {
	
	margin-top: 5%;
	background-color:#10141C;
	color: #ffffff;
}
